


@font-face {
  font-family: 'CreamySugar';
  src: local('CreamySugar'), url(sources/fonts/CreamySugar.ttf) format('ttf');
}

@font-face {
  font-family: 'Beary';
  src: local('Beary'), url(sources/fonts/Beary.ttf) format('ttf');
}

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}
$red: #FF0123;
$blue:#0561F5;
$orange:#E34F00;

html {
    scroll-behavior: smooth;
}


body {
  background: #F7F7F7;
  font-family: Beary,
    sans-serif;
  @include fontSize(15);
  color: $blue;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.flex {
  display: flex;
  flex-flow:wrap;
  justify-content: space-between;
}
a, p span {
  color: $orange;

}
a.base{
  padding: 3px 25px;
  display: inherit;
  width: fit-content;
  border: 4px solid $blue;
  border-radius: 34px;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: CreamySugar;
  color: $red;
  @include fontSize(38);
  position: relative;
  left: -10px;

}
.base::before {
  content: url(./sources/arrow.svg);
  margin-right: 10px;
  position: relative;
  top: -3px;
}
img {
  max-width: 100%;
}
h1 {
   @include fontSize(65);
   color: $red;
   font-family: CreamySugar,
   sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   margin: 0;
 }


 h2 {
    @include fontSize(38);
    color: $red;
    font-family: CreamySugar,
    sans-serif;
    font-weight: 400;
    margin: 0;
  }

  h3 {
     @include fontSize(15);
     color: black;
     font-family: Beary,
     sans-serif;
     font-weight: 400;
     margin: 0;
   }

header {
  
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  top: 25px;
 
  
  // justify-content: space-between;
  
  font-family: CreamySugar,
  sans-serif;

  .headerInner {
    position: fixed;
    @extend .flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
     z-index: 1;
     a {
     color: $red;
     text-decoration: none;
     @include fontSize(38);
     min-width: 355px;
     width: 25%;

    }
    .divider {
      width: 35%;
      border-bottom: 4px solid $blue;
      margin: 0 20px; 
    }

    nav {
      width: 30%;
      @extend .flex;
      a {
        @include fontSize(28);
        min-width: 0;
        width: fit-content;

      }
    }
  }



}

//main 
@keyframes play {
  0% {opacity: 0;}
  100% { opacity: 1 }
}

.animation {
animation: play 3s ;
// animation-iteration-count: 1;

}

//intro
.intro {
  font-family: Beary,
    sans-serif;
  color: black;
  @include fontSize(68);
  margin:25vh 0 15vh;
  margin-left: 5%;
  text-transform: none;
  // opacity: 0;
  @extend .animation;
}
main {
  max-width: 1200px;
  margin: 0 auto;

  padding:20px;
}
.aboutText {
  width: 55%;
  padding-top: 10vh;
  margin-left: auto;
}

//works Header
.worksHeader {
  margin: 10vh 0;
  h2 {
    transform: rotate(-27deg);
    position: relative;
    bottom: -12vh;
    left: -1%;
    width: fit-content;
  }

  .worksSVG {
    width: 85%;

}


  
  h3 {
    width: fit-content;
    margin-left: auto;
    transform: rotate(53deg);
    position: relative;
    left: -18%;
    bottom: 12vh;
  }
}

//single projects
@keyframes shadow {
  50% {
    text-shadow: 12px 11px 4px #0561F5;
  }
  100% {
    text-shadow: 0;
  }
}
.singleProjectContainer {
  @extend .flex;
  margin: 50px 0;
  .projectDetails {
    h1 {
      text-shadow: 0;
      // border-bottom: 4px solid $blue;
      width: fit-content;
      // max-width: 250px;
      animation: shadow 3s ease-in-out infinite ;
    }

    h3 {
      margin: 50px 0;
      max-width: 250px;
    }
    width: 35%;
  }
  .primaryImages {
    width: 62%;
    img:nth-child(2) {
      transform: rotate(-18deg);
      max-width: 200px;
      position: relative;
      top: -17%;
      margin-bottom:-50px;
      filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
  .additionalDetails {
    @extend .flex;
    width: 100%;
    .video {
      width: 35%;
      margin-top: 22px;
      span {
        color: black;
        margin: 20px 0;
        display: inherit;
      }
    }
    .detailsText {
      width: 62%;
    }
  }

}
.singleProjectContainer:nth-child(odd){
  flex-direction: row-reverse;
  img:nth-child(2) {
    transform: rotate(18deg);
    left: 65%;
  }
  h1, h3 {
    max-width: none;
    text-align: right;
  }
  a.base {
    margin-left: auto;
  }

  }

//moreInfo
.moreInfo {
  background: $blue;
  left: 0;
  // height: 30vh;
  padding: 50px;
  a {
    display: block;
    @extend .base;
    background: white;
    border: 4px solid black;
    margin: 0 auto ;
  }
  a:nth-child(2) {
    @include fontSize(23);
    padding: 20px;
    margin: 30px auto 0;
  }
}

//footer 
footer {
  max-width: 1200px;
  margin: 30px auto;
  @extend .flex;
  h2 {
    text-transform: uppercase;
    border-bottom: 4px solid $blue;
  }
  nav a {
    display: block;
    text-decoration: none;
    margin: 15px 0;
  }
  .email {
    text-align: right;

    .guySVG {
      margin-right: 20px;
    }
    h4 {
      color: $red;
      margin: 10px 0;
      font-weight: 400;
    }
  }
  .siteCredits {
    @extend .flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    .copyright {
      font-family: CreamySugar;
      color: $red;
      @include fontSize(20);
    }
  }
}
//musicVideo
.musicVideoInfo {
  margin: 10vh 0 50px;
  .musicVideoText {
    width: 55%;
    margin-left: auto;
  }
}
.responsive {
  position: relative;
  padding-bottom: 56.25%;
  margin: 50px auto;

  iframe {
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
  }
}