@font-face {
  font-family: 'CreamySugar';
  src: local('CreamySugar'), url(sources/fonts/CreamySugar.ttf) format('ttf');
}

@font-face {
  font-family: 'Beary';
  src: local('Beary'), url(sources/fonts/Beary.ttf) format('ttf');
}

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
}
$red: #FF0123;
$blue:#0561F5;
$orange:#E34F00;

html {
    scroll-behavior: smooth;
}
img {
  max-width: 100%;
}

body {
  background: #F7F7F7;
  font-family: Beary,
    sans-serif;
  margin: 0;
  @include fontSize(15);
  color: $blue;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media screen and (max-width:600px) {
    @include fontSize(12);
  }
}


.flex {
  display: flex;
  flex-flow:wrap;
  justify-content: space-between;
}
a, p span {
  color: $orange;

}
a.base{
  padding: 3px 25px;
  display: inherit;
  width: fit-content;
  border: 4px solid $blue;
  border-radius: 34px;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: CreamySugar;
  color: $red;
  @include fontSize(38);
  position: relative;
  left: -10px;
  @media screen and (max-width:1095px) {
    @include fontSize(28);
  }
  @media screen and (max-width:700px) {
    @include fontSize(24);
  }
  @media screen and (max-width:600px) {
    @include fontSize(20);
    padding:8px 22px;
    left: 0;
  }

}
.base::before {
  content: url(./sources/arrow.svg);
  margin-right: 10px;
  position: relative;
  
  @media screen and (max-width:700px) {
    top: 0px;
  }
  @media screen and (max-width:600px) {
   display: none;
  }
}
img {
  max-width: 100%;
}
h1 {
   @include fontSize(65);
   color: $red;
   font-family: CreamySugar,
   sans-serif;
   font-weight: 400;
   text-transform: uppercase;
   margin: 0;
   @media screen and (max-width:900px) {
    @include fontSize(48);
  }
  @media screen and (max-width:600px) {
    @include fontSize(35);
  }
 }


 h2 {
    @include fontSize(38);
    color: $red;
    font-family: CreamySugar,
    sans-serif;
    font-weight: 400;
    margin: 0;
    @media screen and (max-width:900px) {
      @include fontSize(30);
    }
  }

  h3 {
     @include fontSize(15);
     color: black;
     font-family: Beary,
     sans-serif;
     font-weight: 400;
     margin: 0;
     @media screen and (max-width:600px) {
      @include fontSize(13);
    }
   }

header {
  
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  top: 25px;
 
  
  // justify-content: space-between;
  
  font-family: CreamySugar,
  sans-serif;

  .headerInner {
    position: fixed;
    @extend .flex;
    align-items: center;
    width: 94%;
    top: 10px;
    max-width: 1200px;
     z-index: 1;
     @media screen and (max-width:500px) {
      width: 90%;
    
    }
     a {
     color: $red;
     text-decoration: none;
     @include fontSize(38);
     min-width: 355px;
     width: 25%;
     display: inline;
     @media screen and (max-width:880px) {
      @include fontSize(35);
      

    }
    @media screen and (max-width:500px) {
      @include fontSize(25);
      min-width: 200px;
      width: fit-content;
    
    }

    }
    .mobileMenu {
      display: none;
      font-family: CreamySugar, sans-serif;
      background: transparent;
      border: none;
      @include fontSize(25);
      color:$blue;
      @media screen and (max-width:880px) {
        display: block;
      }
      @media screen and (max-width:500px) {
        @include fontSize(20);
      }

    }
    .divider {
      width: 33%;
      border-bottom: 4px solid $blue;
      // margin: 0 20px; 
      @media screen and (max-width:1095px) {
        width: 15%;
      }
      @media screen and (max-width:880px) {
        display: none;
      }
    }

    nav {
      width: 30%;
      @extend .flex;
      @media screen and (max-width:1095px) {
        width: 40%;
      }
      a {
        @include fontSize(28);
        min-width: 0;
        width: fit-content;
        @media screen and (max-width:500px) {
          @include fontSize(20);
        }

      }
      @media screen and (max-width:880px) {
        display: none;
      }
    }
    .showMenu {
      display: block;
      width: 100%;
      margin-left: auto;
      a {
        margin-right: 10px;
      }
    }
  }



}

//main 
@keyframes play {
  0% {opacity: 0;}
  100% { opacity: 1 }
}

.animation {
animation: play 3s ;
// animation-iteration-count: 1;

}

//intro
.intro {
  font-family: Beary,
    sans-serif;
  color: black;
  @include fontSize(68);
    margin:25vh 0 2vh 2vw;
  
  text-transform: none;
  // opacity: 0;
  @extend .animation;
  @media screen and (min-width:1111px) {
    // margin-left: 13vw;
  }
  @media screen and (max-width:1110px) {
    // margin-left: vw;
    // @include fontSize(60);
    margin:19vh 0 2vh 2vw;
    font-size: 12vw;
  }
  @media screen and (max-width:1030px) {
    // margin-left: 15vw;
    // @include fontSize(55);
  }


  @media screen and (max-width:850px) {
    // margin-left: 15vw;
    // font-size: 12vw;
    margin:25vh 0 2vh 2vw;
  }
  @media screen and (max-width:650px) {
    // margin-left: 5%;
    margin:30vh 0 2vh 2vw;
  }
  @media screen and (max-width:500px) {
    // margin-left: 5%;
    margin:30vh 0 2vh 2vw;
    // @include fontSize(40);
  }
  @media screen and (max-width:350px) {
    // margin-left: 12%;
    // @include fontSize(35);
  }
  @media screen and (max-width:330px) {
    // margin-left: 12%;
    // @include fontSize(32);
  }
  
}
@keyframes rotate {
  0% {fill: $red }
  50% { fill:$blue }
  90% { fill: black}
  100% {fill: $red }
}
.smileyParent {
  width: fit-content;
  position: relative;
  left: calc(100% - 99px - 5%);
  margin-bottom: 10vh;
}
.smileySVG path {
  fill: $red;
  animation: rotate 10s;
}

main {
  max-width: 1200px;
  margin: 0 auto;

  padding:20px;
}
.aboutText {
  width: 55%;
  padding: 10vh 0;
  margin-left: auto;
  @media screen and (max-width:800px) {
    width: 100%;
  }
}

//works Header
.worksHeader {
  margin: 0vh 0 10vh;
  h2 {
    transform: rotate(-27deg);
    position: relative;
    bottom: -12vh;
    left: -1%;
    width: fit-content;
  }
  .worksSVG {
    width: 85%;

  }
  
  h3 {
    width: fit-content;
    margin-left: auto;
    transform: rotate(53deg);
    position: relative;
    left: -18%;
    bottom: 12vh;
  }
  @media screen and (max-width:500px) {
    h2 {
      bottom: -10vh;
      left: -2%;
    }
    .worksSVG {
      width: 100%;
    }
    h3 {

      left: 0;
      bottom: 11vh;
    }
  }


}
.spacer {
  margin-top: 10vh;
}

//single projects
@keyframes shadow {
  50% {
    text-shadow: 12px 11px 4px #0561F5;
  }
  100% {
    text-shadow: 0;
  }
}
.singleProjectContainer {
  @extend .flex;
  margin: 50px 0;
  .projectDetails {
    h1 {
      text-shadow: 0;
      // border-bottom: 4px solid $blue;
      width: fit-content;
      // max-width: 250px;
      animation: shadow 3s ease-in-out infinite ;
    }

    h3 {
      margin: 50px 0;
      max-width: 250px;
    }
    width: 35%;
    @media screen and (max-width:830px) {
      width: 100%;
      h1, h3 {
       margin: 5px 0;
      }

    }
  }
  .primaryImages {
    width: 62%;
    img:nth-child(2) {
      transform: rotate(-18deg);
      max-width: 200px;
      position: relative;
      top: -17%;
      margin-bottom:-80px;
      filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));
    }
    @media screen and (max-width:830px) {
      width: 90%;
      margin: 20px auto 0;
    }
    @media screen and (max-width:700px) {
      img:nth-child(2) {
        max-width: 120px;
        margin-bottom: -20px;
        left: 7%;
      }
    }
  }
  .additionalDetails {
    @extend .flex;
    width: 100%;
    .video {
      width: 35%;
      margin-top: 22px;
      span {
        color: black;
        margin: 20px 0;
        display: inherit;
      }
    }
    .detailsText {
      width: 62%;
    }
    @media screen and (max-width:700px) {
      .video, .detailsText {
        width: 100%;
      }
    }
  }

}
.singleProjectContainer:nth-child(odd){
  flex-direction: row-reverse;
  img:nth-child(2) {
    transform: rotate(18deg);
    left: 65%;
  }
  h1, h3 {
    max-width: none;
    text-align: right;
  }
  a.base {
    margin-left: auto;
  }
  @media screen and (max-width:830px) {
    flex-direction: row;
    img:nth-child(2) {
      transform: rotate(18deg);
      left: 55%;
    }
    h1, h3 {
      text-align: left;
      margin: 5px 0;
    }
    a.base {
      margin-left: 0;
    }
  }

  }

//moreInfo
.moreInfo {
  background: $blue;
  left: 0;
  // height: 30vh;
  padding: 50px;
  a {
    display: block;
    @extend .base;
    background: white;
    border: 4px solid black;
    margin: 0 auto ;
  }
  a:nth-child(2) {
    @include fontSize(23);
    padding: 20px;
    margin: 30px auto 0;
  }
  @media screen and (max-width:700px) {
    a:nth-child(2) {
      @include fontSize(18);
      padding: 8px 22px;
    }
  }
}

//footer 
footer {
  max-width: 1200px;
  margin: 30px auto;
  @extend .flex;
  h2 {
    text-transform: uppercase;
    border-bottom: 4px solid $blue;
  }
  nav a {
    display: block;
    text-decoration: none;
    margin: 15px 0;
  }
  .email {
    text-align: right;

    .guySVG {
      margin-right: 20px;
    }
    h4 {
      color: $red;
      margin: 10px 0;
      font-weight: 400;
    }
  }
  .siteCredits {
    @extend .flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    .copyright {
      font-family: CreamySugar;
      color: $red;
      @include fontSize(20);
    }
  }
  @media screen and (max-width:700px) {
    text-align: center;
    nav {
      margin: 0 auto;
      text-align: center;
    }
    .email {
      width: 100%;
      text-align: center;
      .emailVisual {
        display: none;
      }
    }
    .siteCredits span {
      width: 100%;
      text-align: center;
      margin: 10px 0;;
    }
  }
}
//musicVideo
.musicVideoInfo {
  margin: 12vh 0 50px;
  .musicVideoText {
    width: 55%;
    margin-left: auto;
  }
  @media screen and (max-width:922px) {
     svg {
      width: 100%;
     }

  }
  @media screen and (max-width:700px) {

    h2 {
     @include fontSize(22);
     position: relative;
      top: 7vh;
    }
 }
}
.responsive {
  position: relative;
  padding-bottom: 56.25%;
  margin: 50px auto;

  iframe {
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
  }
}